        @media (max-width: 1440px) {}
        
        @media (max-width: 1366px) {}
        
        @media (max-width:1280px) {}
        
        @media (max-width: 1025px) {}
        
        @media (min-width: 992px) and (max-width:1024px) {
            .left-section {
                width: 440px;
                padding: 1rem 0
            }
            .right-section {
                width: 430px;
            }
        }
        
        @media (min-width: 767px) and (max-width:991px) {
            .logo {
                position: relative;
            }
            .login-outer {
                flex-direction: column;
            }
            .left-section {
                width: 100%;
                padding: 1rem 0
            }
            .right-section {
                width: 100%;
                height: auto;
            }
            .bdtxt {
                margin: 3rem 0 0 0;
            }
            .bdtxt p {
                padding-right: 20px;
            }
            h1 {
                font-size: 40px;
            }
            .right-section h2 {
                font-size: 40px;
            }
            .login-outer {
                display: flex;
                justify-content: space-between;
                align-items: start;
            }
            .copytxt {
                display: none
            }
            .copytxt-m {
                display: block;
                text-align: left;
                padding: .5rem 0;
                color: #fff;
            }
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (max-width: 767px) {
            .container {
                max-width: 95%;
            }
            .logo {
                position: relative;
                width: 90%;
            }
            .login-outer {
                flex-direction: column;
            }
            .left-section {
                width: 100%;
                padding: 1rem 0
            }
            .right-section {
                width: 100%;
                height: auto;
            }
            .bdtxt {
                margin: 3rem 0 0 0;
            }
            .bdtxt p {
                padding-right: 20px;
            }
            h1 {
                font-size: 40px;
            }
            .right-section h2 {
                font-size: 40px;
            }
            .login-outer {
                display: flex;
                justify-content: space-between;
                align-items: start;
            }
            .copytxt {
                display: none
            }
            .copytxt-m {
                display: block;
                text-align: left;
                padding: .5rem 0;
                color: #fff;
            }
        }
        
        @media (max-width: 600px) {
            .right-section {
                padding: 2rem 2rem;
            }
            h1 {
                font-size: 32px;
            }
            .right-section h2 {
                font-size: 36px;
            }
            .bdtxt p {
                padding-right: 0px;
            }
        }
        
        @media (max-width: 480px) {}
        
        @media (max-width: 380px) {
            p {
                font-size: 14px;
            }
            .right-section {
                padding: 1rem 1rem;
            }
        }
        /* *************wecome media query**************88 */
        
        @media (min-width: 992px) and (max-width:1024px) {
            .welcome-left-section {
                width: 440px;
                padding: 1rem 0
            }
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (min-width: 767px) and (max-width:991px) {
            .logo {
                position: relative;
            }
            .welcome-outer {
                flex-direction: column;
            }
            .welcome-left-section {
                width: 100%;
                padding: 1rem 0
            }
            .welcome-bdtxt {
                margin: 3rem 0 0 0;
            }
            .welcome-bdtxt p {
                padding-right: 20px;
            }
            h1 {
                font-size: 40px;
            }
            .welcome-outer {
                display: flex;
                justify-content: space-between;
                align-items: start;
            }
            .copytxt {
                display: none
            }
            .copytxt-m {
                display: block;
                text-align: left;
                padding: .5rem 0;
                color: #fff;
            }
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (max-width: 767px) {
            .container {
                max-width: 95%;
            }
            .logo {
                position: relative;
                width: 90%;
            }
            .welcoome-outer {
                flex-direction: column;
            }
            .welcome-left-section {
                width: 100%;
                padding: 1rem 0
            }
            .welcome-bdtxt {
                margin: 3rem 0 0 0;
            }
            .welcome-bdtxt p {
                padding-right: 20px;
            }
            h1 {
                font-size: 40px;
            }
            .welcome-outer {
                display: flex;
                justify-content: space-between;
                align-items: start;
            }
            .copytxt {
                display: none
            }
            .copytxt-m {
                display: block;
                text-align: left;
                padding: .5rem 0;
                color: #fff;
            }
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (max-width: 600px) {
            h1 {
                font-size: 32px;
            }
            .welcome-bdtxt p {
                padding-right: 0px;
            }
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (max-width: 480px) {
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        
        @media (max-width: 380px) {
            p {
                font-size: 14px;
            }
            .right-section {
                padding: 1rem 1rem;
            }
        }
        
        @media (min-width: 300px) and (max-width: 600px) {
            .ms-5 {
                margin-left: 10rem!important;
            }
            .my-5 {
                margin-top: 8rem!important;
                margin-bottom: 3rem!important;
            }
            .mx-5 {
                margin-right: 3rem!important;
                margin-left: 27rem!important;
            }
        }
        /* *************aboutcompany media query***************/
        
        @media (max-width: 786px) {}
        
        @media (min-width: 788px) and (max-width: 1024px) {}
        
        @media (min-width: 1025px) and (max-width: 1366px) {}
        
        @media (min-width: 1367px) and (max-width: 1500px) {}